body {
    background-color: lightblue;
    color: darkblue;
    text-align: center;
    font-family: sans-serif;
}

img {
    width: 700px;
    height: 400px;
}

button {
    background-color: lightgray;
    color: darkred;
    padding: 10px 20px;
    border: auto;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 200px;
}

